   * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'Segoe UI', sans-serif;
      background: linear-gradient(to right, #ff9966, #c430d7);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .login-box {
      background-color: #ddb3b3;
      width: 360px;
      padding: 40px;
      border-radius: 12px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    }

    .login-box h2 {
      text-align: center;
      margin-bottom: 25px;
      color: #8c0d9c;
    }

    .login-box input {
      width: 100%;
      padding: 12px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 14px;
    }

    .login-box button {
      width: 100%;
      padding: 12px;
      background-color: #c430d7;
      color: white;
      border: none;
      border-radius: 6px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      margin-top: 10px;
      transition: background-color 0.3s ease;
    }

    .login-box button:hover {
      background-color: #e04d52;
    }

     .back-button {
      margin-top: 10px;
      background-color: #888;
    }

    .back-button:hover {
      background-color: #666;
    }

    .message {
      text-align: center;
      margin-top: 15px;
      font-weight: bold;
    }

    .extra-links {
      margin-top: 15px;
      text-align: center;
      font-size: 13px;
    }

    .extra-links a {
      color: black;
      text-decoration: none;
    }